body {
    font-family: 'Roboto', sans-serif;
}

/* UTILITIES */

/* TOP BAR */
.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
}

.navbar-brand span {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.8;
    margin-top: -5px;
}