body {
    font-family: 'Roboto', sans-serif;
    background: #F8F8F8;
}

/* UTILITIES */
p, h1, h2, h3.h4, h5 {
    padding: 0;
    margin: 0;
}

.m-10 {
    margin: 100px 0px auto;
}

.heading {
    color: #000;
    font-size: 2.85rem;
}

.sub-heading {
    color: #1EB2A6;
}

.white-btn {
    border: 1px solid #1eb2a6;
    border-radius: 5px;
    color: #1eb2a6;
    font-size: 0.9rem;
    background: #fff;
    display: block;
    width: 100%;
    padding: 0.9rem 1rem;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
}

/* TOP BAR */
.header-image {
    position: relative;
    background-attachment: fixed;
    min-height: 100vh;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
}

.navbar-brand {
    transition: 0.3s;
}

.navbar-brand span {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.8;
    margin-top: -5px;
}

.text {
    font-size: 0.9rem;
}

.icon span {
    font-size: 2.3rem;
}

.social-icons span {
    color: #1eb2a6;
    font-size: 0.9rem;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    border-radius: 50%;
    transition: 0.4s;
}

.top-bar .navbar {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.15rem;
    margin: 1.5rem;
    padding: 0;
}

.top-bar .navbar .btn-custom::before {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -20px;
    width: 100px;
    background: #1eb2a6;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    z-index: -1;
    content: '';
}

.top-bar .navbar .btn-custom {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.3);
    background: #1eb2a6;
    padding: 1.5rem;
    color: #fff;
    border-radius: 0;
    position: relative;
    display: inline-block;
    width: 250px;
    z-index: 0;
    text-align: center;
    border: 1px solid transparent;
    letter-spacing: 2px;
}

.top-bar .navbar .navbar-nav>.nav-item>.nav-link.active {
    color: #1eb2a6;
    position: relative;
    z-index: 0;
}

.top-bar .nav-item a {
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0rem 1.5rem !important;
    transition: ease-in 0.3s;
}


/* HOVER EFFECT */
.navbar-brand:hover {
    color: #1EB2A6 !important;
}

.social-icons span:hover {
    color: #fff;
    background: #1EB2A6;
    cursor: pointer;
}

.top-bar .nav-item a:hover {
    color: #1EB2A6 !important;
}

/* LEARNING BENEFITS */
.learning-benifits img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.learning-benifits p {
    color: #999 !important;
    font-size: 1rem;
    line-height: 1.6rem;
}

.lb-card {
    transition: all ease-in 0.2s;
}

/* HOVER SECTION */
.lb-card:hover {
    background: #1EB2A6 !important;
    color: #fff;
    transform: scale(1.02);
    cursor: pointer;
}

.lb-card:hover span {
    color: #fff !important;
}

.lb-card:hover p {
    color: #fff !important;
}


/* COUNTER SECTION */
.counter-section {
    position: relative;
    background: url(./images/bg_3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 0rem;
}

.counter-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: 0.4;
    z-index: 0;

}

/* POPULAR COURSES */
#sec-div {
    transform: scaley(1.1) scaleX(1.05);
}

#sec-div .white-btn {
    background: #1EB2A6;
    color: #fff;
}

.c-text {
    line-height: 2.4rem;
}

.card-icon {
    display: block;
    font-size: 2.5rem;
    background: #6c757d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: #fff;
}

.author-img {
    width: 35px;
}

.c-icon {
    color: #1EB2A6;
    font-size: 0.75rem;
    font-style: normal;
}

.cs-text {
    font-size: 0.9rem;
    font-weight: 600;
    color: #1EB2A6;
}

.course-price {
    background: #f8f8f8;
    padding: 0.7rem;
    border-radius: 5px;
    color: #1eb2a6;
    font-size: 0.9rem;
}

/* OUR COURSES */
.course-card, .course-card span {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

#cmt-sci {
    background: #1EB2A6;
    color: white;
}

.course-icon span {
    font-size: 3rem;
    color: #1eb2a6;
}

.course-text h5 {
    line-height: 1.8rem;
}

.course-text p {
    font-size: 0.8rem;
    color: #1EB2A6;
    background: #F8F8F8;
    padding: 0.3rem;
}

/* HOVER EFFECT */
.course-card:hover {
    transform: translatey(-5px);
    background: #1EB2A6 !important;
    color: white;
}

.course-card:hover span {
    color: white;
}
/* SUCCESSFUL STUDENT */
.successful-student .student-img{
    display: block;
    width: 80px;
    height: 80px;
}
.successful-student .icon{
    color: #fff;
    font-size: 1.2rem;
    background: #1EB2A6;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    right: 15px;
}

/* CUSTOM RESPONSIVE FOR MOBILE DEVICES */
@media only screen and (max-width: 576px) {
    .heading {
        font-size: 2.3rem;
    }

    .top-bar .navbar .btn-custom::before {
        transform: skewX(-0deg);
    }

    #sec-div {
        transform: scaley(1.0) scaleX(1.0);
    }

}